.constructed-type-ui {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    border: 1px solid grey;
    border-radius: 8px;
    margin: 2px;
    background-color: white;
    color: black;
}

.member-table {
    margin-left: 10px;
}

.input-member-name {
    width: 50px;
    border: none;
    border-bottom: solid 1px black;
    outline: none;
}

.add-member-button {
    outline: none;
    border: none;

}