<div class="constructed-type-ui" [ngStyle]="{'display': isVisible() ? undefined : 'none'}">
    <span>
        {{getInputPrefix()}}
    </span>
    <span class="member-input-wrapper">
        <span>
            {{getSelectionText().prefix}}
        </span>
        <input #nameInput type="text" class="input-member-name">
        <span>
            {{getSelectionText().suffix}}
        </span>
        <button #addMemberButton class="add-member-button" (click)="onClickAddMember(nameInput.value)">+</button>
    </span>
    <span>
        {{getInputSuffix()}}
    </span>
</div>