.wrapper {
}

.upperPart {
    border-bottom: solid 1px lightgrey;
}

.title {
    color: #2469B3;
}

.code-editor-wrapper {
    border-left: solid 1px lightgrey;
    height: 100%;
    border-right: solid 1px lightgrey;
}

.code-editor {}

.ast-wrapper {
    height: 100%;
    border-right: solid 1px lightgrey;
}

.symbolTableWrapper {
    height: 100%;
    width: 100%;
    border-right: solid 1px lightgrey;
    min-height: 20vh;
}

.typeDefinitionsWrapper {
}

.symbolTableHeader {
    width: 100px;
    padding: 10px;
}

.symbolTableHeader, .symbolTableField {
    text-align: left;
}

.declarationsRow {
    border-radius: 4px;

    width: 100%;
    padding: 5px;
    margin-right: 5px;
    border: solid 1px lightgrey;
    display: flex;
    flex-direction: row;
}

.symbolTableField {
    padding: 4px;
    font-size: 12px;
    border-radius: 4px;
    /* width: 80px; */
    margin: 1px;
    background-color: #2469B3;
    color: white;
}

.typing-tree-wrapper {
    padding-top: 40px;
    margin: 10px;
}