<div class="wrapper" style="padding: 10px;">
    <table style="border: solid 1px lightgray;">
        <tr>
            <th style="padding: 5px; border: solid 1px grey;">Structural Subtyping Query</th>
            <th style="padding: 5px; border: solid 1px grey;">Result</th>
        </tr>
        <tr *ngFor="let row of dummyData">
            <td style="padding: 5px; border: solid 1px grey;">{{row.input}}</td>
            <td style="padding: 5px; border: solid 1px grey;">{{row.output}}</td>
        </tr>
    </table>
</div>