.constructed-type-ui {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    border: 1px solid grey;
    border-radius: 8px;
    margin: 2px;
    background-color: white;
    color: black;
}