<!-- <h1 mat-dialog-title>Create a new pointer type</h1> -->
<div mat-dialog-content>
  <div class="row">
      <div class="col-sm-6">
        <app-singleselect-dropdown [options]="selectableTargets" (onSelectEvent)="onSelectOption($event)"></app-singleselect-dropdown>
      </div>
      <div class="col-sm-6">
        <span><b>*</b></span>
      </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="onCreate()"cdkFocusInitial>Create</button>
</div>
