.wrapper{
    /* TODO: Change! */
    min-height: 15vh;
    height: 100%;
    width: 100%;
}

.coder{
    height: 80%;
    width: 100%;
    margin: 0px;
}

button{
    color: white;
    background-color: #2469B3;
    border-radius: 5px;
    border: none;
    padding: 6px;
    margin-left: 5px;
}

.successMessage{
    float: right;
    margin-right: 50px;
    margin-top: 5px;
    color: green;
}
