.wrapper {
    width: 350px;
    background-color: lightgray;
}

.bubble-container {
    display: flex;
    flex-wrap: wrap;
}

.title {
    color: #2469B3;
    font-size: 16px;
}

.createTypeButton{
    height: 26px;
    outline: none;
    border: 1px solid grey;
    border-radius: 8px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 2px;
    background-color: white;
    /* font-size: 20px; */
}

.section {
    margin: 10px;
}

.construtor-option-icon{
    padding-right: 20px;
}

.creation-active-explanation-wrapper {
    height: 69px;
    background-color: lightgray;
}
.creation-active-explanation {
    font-size: 14px;
}