<h1 mat-dialog-title>Add new declaration.</h1>
<div mat-dialog-content>
  <span>{{_prefix}}</span>
  <input #nameInput type="text" class="inputName" (input)="updateInputWidth()" cdkFocusInitial>
  <span>{{_suffix}}</span>
</div>
<div mat-dialog-actions>
  <div class="dialog-buttons-wrapper">
    <button mat-button (click)="onClickCancel()" class="dialog-button cancel-button">Cancel</button>
    <button mat-button (click)="onClickCreate(nameInput.value)" class="dialog-button approve-button">Declare</button>
  </div>
</div>