.wrapper {
    overflow: hidden;
}

.toolbar {
    background-color: #2469B3;
    color: white;
    margin-bottom: 0px;
}

.logo {
    height: 60px;
}

.title {
    padding-left: 20px;
}

.source-code-url-wrapper{
    width: 100%;
    text-align: right;
}

.source-code-url{
    color: white;
    font-size: 14px;
}