.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.toolbar {
    background-color: #2469B3;
    color: white;
    margin-bottom: 0px;
}

.logo {
    height: 60px;
}

.title {
    padding-left: 20px;
}