
.modal.show{
    display: block;
}

.btn-secondary{
    color: white;
    background-color:  #2469B3;
}

.btn-primary{
    color: white;
    background-color: #2469B3;
}

.modal-content{
    width: 150%;
}