
 <!--div class="title">Instructions</div>
        <details>
            <summary>Define Environment</summary>
            <p style="margin-top: 12px;">Define your environment in the code box</p>
        </details> 
        <details>
            <summary>Type in Expresseion</summary>
            <p style="margin-top: 12px;">State the expression that you want to type check into the box on the right</p>
        </details> 
        <details>
            <summary>Select devider</summary>
            <p style="margin-top: 12px;">Choose the correct devider for each leaf of the tree</p>
        </details> 
        <details>
            <summary>Check type</summary>
            <p style="margin-top: 12px;">Start from the top to get the correct type for each step of the tree</p>
        </details--> 

        <div class="abstract-instruction">
            <details>
                <summary>{{instruction.summary}}</summary>
                <p>{{instruction.details}}</p>
            </details>
        </div>