<!-- <h1 mat-dialog-title>Create a new struct type</h1> -->
<div mat-dialog-content>
    <div class="row">
        <div class="col-sm-12">
            <b>{{ 'struct {' }}</b>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table>
                <tr *ngFor="let m of members">
                    <td style="width: 112px;">{{m.getType().toString()}}</td>
                    <td style="width: 112px;">{{m.getName()}}</td>
                    <td><b>;</b></td>
                </tr>
                <tr>
                    <td style="width: 112px;">
                        <app-singleselect-dropdown #typeDropdown [options]="selectableTargets">
                        </app-singleselect-dropdown>
                    </td>
                    <td style="width: 112px;">
                        <input #nameInput type="text" style="width: 100%;">
                    </td>
                    <td>
                        <button (click)="onClickAddMember(typeDropdown.value, nameInput.value)">+</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <b>{{ '}' }}</b>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button (click)="onCreate()" cdkFocusInitial>Create</button>
</div>