<div *ngIf="typingTree; then showBlock else doNotShowBlock"></div>
<ng-template #showBlock>
    <div class="wrapper">
        <div class="labelWrapper" [ngStyle]="{'color': _getColor()}">
            {{typingTree.label}}
            <select [(ngModel)]="selectedLabel">
                <option *ngFor = "let l of labels" value="{{l.valueLabel}}">{{l.name}}</option>
            </select>
        </div>
        <div class="bodyWrapper">
            <!-- Recursive rendering of children until leafs -->
            <div class="childrenWrapper">
                <app-typing-tree class="child" [typingTree]="child"
                    *ngFor="let child of typingTree.children; let i = index"
                    [ngStyle]="{'width': typingTree.getRelativeSizeOfChild(i) + '%'}"
                    [ngClass]="{'notLastChild': i !== typingTree.children.length-1}">
                </app-typing-tree>
            </div>
            <div class="divider" [ngStyle]="{'border-top': 'solid 1.5px ' + _getColor()}"></div>
            <div class="text" [ngStyle]="{'color': _getColor()}">
                {{typingTree.text}}
                <div *ngIf="typingTree.structuralSubtypingQueries; then showSubtypingLink"></div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #showSubtypingLink>
    <mat-icon #menuTrigger="matMenuTrigger" class="subtypingInfoButton" [matMenuTriggerFor]="menu" [matTooltip]="_subtypingInfoTooltip">info</mat-icon>
    <mat-menu #menu="matMenu">
        <button *ngFor="let query of typingTree.structuralSubtypingQueries" mat-menu-item (click)="_onClickSubtypingQuery(query)">
            <span>{{query.toString()}}</span>
        </button>
    </mat-menu>
</ng-template>
<ng-template #doNotShowBlock>
    <!-- Intentionally left blank -->
</ng-template>