.wrapper{
    display: flex;
}


.labelWrapper {
    margin-top: auto;
    transform: translate(0px, -12px);
    font-size: 12px;
}

.bodyWrapper {
    margin-left: 5px;
    margin-top: auto;
    width: 100%;
    color: black;
    display: flex;
    flex-direction: column;
}

.childrenWrapper{
    margin-right: 5px;
    display: flex;
}


.child {
    /* width: 100%; */
    text-align: center;

    /* align all children to the bottom  */
    margin-top: auto;
}

.notLastChild {
    /* space between children */
    margin-right: 15px;
}

.divider {
    width: 100%;
}

.text {
    text-align: center;
    font-size: 12px;
}
