<!-- Modal -->
<div class="modal fade" id="commonMistakesModal" [ngClass]="{'show' : showModal}" tabindex="-1" role="dialog" aria-labelledby="commonMistakesModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalLabel">Keep in mind...</h5>
          <!--button type="button" class="close" (click)="showModal=false" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button-->
        </div>
        <div class="modal-body">
          <!--end of algorithm-->
          <!--table>
            <tr>
              <td style="border-bottom: solid;">
                t ≤ t'
              </td>
            </tr>
            <tr>
              <td>
                t ≤ t'
              </td>
            </tr>
          </table-->

          <!--pointer-->
          <table>
            <tr>
              <th>
                Pointer
              </th>
            </tr>
            <tr>
              <td style="border-bottom: solid;">
                &Gamma; &vdash; s ≤ t
              </td>
            </tr>
            <tr>
              <td>
                &Gamma; &vdash; s* ≤ t*
              </td>
            </tr>
          </table>

          <!--Typedef-->
          <table>
            <tr>
              <th>
                Typedef
              </th>
            </tr>
            <tr>
              <td style="border-bottom: solid;">
                &Gamma; &vdash; s ≤ t <i>if typedef s A</i>
              </td>
            </tr>
            <tr>
              <td>
                &Gamma; &vdash; A ≤ t
              </td>
            </tr>
          </table>

          <!--Struct-->
          <table>
            <tr>
              <th>
                Struct
              </th>
            </tr>
            <tr>
              <td style="border-bottom: solid;">
                &Gamma; &vdash; s<sub>k</sub> ≤ t<sub>k</sub> &forall; 1 ≤ k ≤ j
              </td>
            </tr>
            <tr>
              <td>
                &Gamma; &vdash; struct &lbrace; s<sub>1</sub> a<sub>1</sub>&semi;...&semi; s<sub>j</sub> a<sub>j</sub>&semi; &rbrace; ≤ struct &lbrace; t<sub>1</sub> a<sub>1</sub>&semi;...&semi; t<sub>j</sub> a<sub>j</sub>&semi; &rbrace;
              </td>
            </tr>
          </table>
          
          <!--Funktion-->
          <table>
            <tr>
              <th>
                Function
              </th>
            </tr>
            <tr>
              <td style="border-bottom: solid;">
                &Gamma; &vdash; s<sub>0</sub> ≤ t<sub>0</sub> &Gamma; &vdash; t<sub>1</sub> ≤ s<sub>1</sub> ... t<sub>m</sub> ≤ s<sub>m</sub>
              </td>
            </tr>
            <tr>
              <td>
                &Gamma; &vdash; s<sub>0</sub> ( s<sub>1</sub>, ..., s<sub>m</sub>) ≤ t<sub>0</sub> ( t<sub>1</sub>, ..., t<sub>m</sub>)
              </td>
            </tr>
          </table>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="showModal=false" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" (click)="showModal=true" data-toggle="modal" data-target="#commonMistakesModal">
    Remind me of the rules!
  </button>
