.content-wrapper {
    border-top: solid 1px darkgrey;
}

.left-panel-wrapper {
    border-right: solid 1px darkgrey;
    height: 86vh;
    margin-left: -22px;
    border-left: solid 1px darkgrey;
}

.right-panel-wrapper {
    position: relative;
    padding-top: 10px;
}

.menu-wrapper{
    overflow: hidden;
    margin: 10px;
    margin-top: 20px;
    
}

.typedef-wrapper {}

.type-env-data-wrapper{
    margin-top: 10px;
    margin-bottom: 10px;
}

.expression-input-wrapper {
    width: 100%;
    padding-right: 15px;
}

.subtyping-input-wrapper{
    width: 100%;
    padding-right: 15px;
}

.subtyping-input{
    width: 100%;
    margin-top: 10px;
}

.expression-input {
    width: 100%;
}

.ast-wrapper {

}

.typing-tree-wrapper {
    margin-top: 200px;
}

.subtyping-symbol {
    text-align: center;
}

.type-dropdown {
}

.check-button {
    background-color: #2469B3;
    color: white;
}

.code-editor-wrapper {
    height: 200px;
    margin-top: 10px;
}

.tabs-wrapper {
    border-top: solid 1px darkgrey;
}

.subtyping-feedback-font {
    font-size: 14px;
} 

.subtyping-feedback-yes {
    color: green;
}

.subtyping-feedback-no {
    color: red;
}

.common-mistakes-wrapper{
    position: absolute;

}

.instructions-wrapper{
    margin-right: -10px;
}