.content-wrapper {
    border-top: solid 1px darkgrey;
}

.left-panel-wrapper {
    border-right: solid 1px darkgrey;
    height: 86vh;
}

.right-panel-wrapper {
}

.menu-wrapper{
    overflow: hidden;
    margin: 5px
}

.typedef-wrapper {}

.type-env-data-wrapper{
    margin-top: 10px;
    margin-bottom: 10px;
}

.expression-input-wrapper {
    width: 100%;
    padding-right: 15px;
}

.expression-input {
    width: 80%;
}

.ast-wrapper {

}

.typing-tree-wrapper {
    margin-top: 50px;
}

.subtyping-symbol {
    text-align: center;
}

.type-dropdown {
}

.check-button {
    background-color: #2469B3;
    color: white;
}